<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewfport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Usman Gee">

    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/mycss.css}">



    <title>Home - Fly Right Airline</title>
</head>

<body class="bg-img">
<!-- Navigations -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark top-nav">
    <div class="container text-light">
        <a class="navbar-brand" th:href="@{/}"><img class="logo-img" src="images/logo.png"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navber-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user/sign_up}">Register</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/feedback/contact}">Contact</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Manage Aircraft
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                        <a class="dropdown-item" th:href="@{/aircrafts/create}">Create Aircraft</a>
                        <a class="dropdown-item" th:href="@{/aircrafts/list}">All Aircrafts</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Manage Flight
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                        <a class="dropdown-item" th:href="@{/aircrafts/list}">Create Flight</a>
                        <a class="dropdown-item" th:href="@{/flights/list}">All Flights</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPages" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Manage Booking
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPages">
                        <a class="dropdown-item" th:href="@{/}">Book A Flight</a>
                        <a class="dropdown-item" th:href="@{/bookings/list}">All Bookings</a>
                        <a class="dropdown-item" th:href="@{/passengers/list}">All Passengers</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</nav>

<!-- Header with carousel -->
<header>

</header>

<main class="main-margin-top">

    <div class="container align-center">

        <div class="row mt-5 mb-5">

            <div class="col-md-7">
                <div class="card">
                    <div class="card-header">
                        <h3 class="header-title">Create Flight</h3>
                    </div>

                    <div class="card-body">

                        <form action="#" th:object="${aircraft}" th:action="${'/flights/add'}" method="post">
                            <input type="hidden" name="id" th:field="*{id}">
                            <div class="form-group">
                                <label>Flight Number:</label>
                                <input type="text" class="form-control" placeholder="Flight number" name="flightNumber" required/>
                            </div>

<!--                            <div class="form-group">-->
<!--                                <label>Aircraft ID.:</label>-->
                                <input type="hidden" class="form-control" th:field="${aircraft}" name="aircraft"  />
<!--                            </div>-->

                            <div class="form-group">
                                <label>TakeOff Time:</label>
                                <input type="datetime-local" class="form-control" placeholder="TakeOff Time" name="takeOffTime" required/>
                            </div>

                            <div class="form-group">
                                <label>Landing Time:</label>
                                <input type="datetime-local" class="form-control" placeholder="Landing Time" name="landingTime" required/>
                            </div>

                            <div class="form-group">
                                <label>TakeOff Point:</label>
                                <input type="text" class="form-control" placeholder="TakeOff Point" name="takeOffPoint" required/>
                            </div>

                            <div class="form-group">
                                <label>Destination:</label>
                                <input type="text" class="form-control" placeholder="Destination" name="destinationPoint" required/>
                            </div>

                            <div class="form-group">
                                <label>Price:</label>
                                <input type="number" class="form-control" placeholder="Price" name="price" required/>
                            </div>

                            <div class="form-group">
                                <label>availableSeats:</label>
                                <input type="number" class="form-control" placeholder="availableSeats" name="availableSeats" required/>
                            </div>

                            <button class="btn btn-lg btn-primary btn-block" type="submit">Create Flight</button>
                        </form>

                    </div>
                </div>

            </div>

        </div>
    </div>

</main>
<footer class="fixed-bottom bg-dark">
    <div class="container text-light">
        <p class="text-center">&copy; 2020 &ndash; Fly Right Airline &ndash; All Right Reserved...</p>
    </div>

</footer>
<script th:src="@{/jquery/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.js}"></script>
</body>

</html>
